<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{context.template_title}}</title>
</head>
<body>
    <form method="post">
        <input type="text" name="year_inp">
    </form>

    {% if context.year != 0 %}
        <p>Статистика за сезон {{ context.year }}</p>
    {% else %}
        <p>Введите год (первый сезон был в 1950г.)</p>
    {% endif %}

    <form>
        <div>
            <a>Количество лучших кругов (по командам)</a>
            <img src="/plot/{{ context.year }}/1" alt="no image">
        </div>

        <div>
            <a>Количество лучших кругов (по пилотам)</a>
            <img src="/plot/{{ context.year }}/2" alt="no image">
        </div>

        <div>
            <a>График очков чемпионата</a>
            <img src="/plot/{{ context.year }}/3" alt="no image">
        </div>

        <div>
            <a>График очков кубка конструкторов</a>
            <img src="/plot/{{ context.year }}/4" alt="no image">
        </div>

        <div>
            <a>Распределение очков кубка конструкторов</a>
            <img src="/plot/{{ context.year }}/5" alt="no image">
        </div>

    </form>

</body>
</html>