<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{context.template_title}}</title>
</head>
<body>
    <form method="post">
        <input type="text" name="year_inp">
    </form>

    {% if context.year is not none %}
        <p>Статистика за сезон {{ context.year }}</p>
    {% else %}
        <p>Введите год</p>
    {% endif %}

    <form>
        <div>
            <a>Количество лучших кругов (по командам)</a>
            <img src="{{ context.bl_img }}" alt="no image">
        </div>

        <div>
            <a>Количество лучших кругов (по пилотам)</a>
            <img src="{{ context.bl_img2 }}" alt="no image">
        </div>

        <div>
            <a>График очков чемпионата</a>
            <img src="{{ context.ch_img }}" alt="no image">
        </div>

        <div>
            <a>График очков кубка конструкторов</a>
            <img src="{{ context.cc_img }}" alt="no image">
        </div>

        <div>
            <a>Распределение очков кубка конструкторов</a>
            <img src="{{ context.ccpts_img }}" alt="no image">
        </div>

    </form>

</body>
</html>